#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.white {
  background-color: white;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.orange {
  background-color: orange;
  color: black;
}

.red {
  background-color: red;
  color: white;
}

.indigo {
  background-color: indigo;
  color: white;
}

.violet {
  background-color: violet;
  color: black;
}

.purple {
  background-color: purple;
  color: white;
}

.reset {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
