* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(45, 45, 45);
}

header {
  display: flex;
  justify-content: center;
  color: #e1e1e1;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 6rem;
}

span {
  border-bottom: 0 solid #e1e1e1;
}

.current {
  border-bottom: 4px solid #e1e1e1;
}

.correct {
  color: #26ff00;
  border-bottom: none;
}

.incorrect {
  color: rgb(255, 89, 0);
  border-bottom: 4px solid rgb(255, 89, 0);
}

dialog {
  border-color: transparent;
  margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

button {
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

button:focus {
  outline: none;
}

button.reset-text {
  background-color: rgb(74, 74, 233);
}

button.dismiss-modal {
  background-color: rgb(235, 93, 93);
}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0 1rem;
}

.accuracy-text {
  text-align: center;
  padding-top: 1rem;
}
